

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    justify-content: center;
    /* align-items: center; */
}

.upper-nav{
    height: 10%;
    display: flex;
    justify-content:space-between;
}

.upper-left img{
    width: 200px;
    margin: 20px;
}

.upper-right img{
    width: 36px;
    margin: 20px;
}

.lower-navBar{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lower-navBar h3{
    margin-left: 33px;
    margin-top: 10px;
    font-size: 1.8vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.line{
    width: 95vw;
    margin-left: 2vw;
    margin-top: 1.4vw;
    border: 1px solid black;
}

.searchBar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 50%;
    padding: 1%;
    margin: 5% 0% 5% 25%;
    border: 1px solid black;
    border-radius: 10px;
}

.searchBar img{
    width: 24px;
    height: 24px;
}

.Search{
    border: none;  
    box-shadow: none;
    padding: 5px; 
    background-color: transparent; 
}

.searchBar button{
    width: 30%;
    height: 100%;
    padding: 8px;
    border-radius: 8px;
    background-color: #4C8787;
    color: white;
}

.props{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 5%;
}

.prop{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.prop img{
    width: 32px;
}

.prop h4{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #00000080;
}
