

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,body{
    width: 100%;
    height: 100%;
}

.nav{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 20%;
    justify-content: center;
    /* align-items: center; */
}

.upper-nav{
    height: 10%;
    display: flex;
    justify-content:space-between;
}

.upper-left img{
    width: 200px;
    margin: 20px;
}

.upper-right img{
    width: 36px;
    margin: 20px;
}

.lower-navBar{
    width: 100%;
    height: 10%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.lower-navBar h3{
    margin-left: 33px;
    margin-top: 10px;
    font-size: 1.8vw;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.line{
    width: 95vw;
    margin-left: 2vw;
    margin-top: 1.4vw;
    border: 1px solid black;
}